.ipynb_checkpoints/*
default_3_levels.html
default.html
pg_6_output.txt
pg_1_output.txt
pg_data.txt
annotation-interface/data/.ipynb_checkpoints/*
data-collection/.ipynb_checkpoints/*
data-collection/annotation/.ipynb_checkpoints/*
data-collection/annotation/cwi-pages/*
data-collection/res/cwi-pages/*
data-collection/res/demo-cwi-output/*
data-collection/res/top-reddit/*
data-collection/annotation/data/top-reddit/*
data-collection/demo-cwi-output/*
data-collection/technical-paper-diagrams/*
data-collection/0 Test Set.ipynb
data-collection/1 Ranking Set.ipynb
data-collection/2 Test Set Statistics for Technical Paper.ipynb
